/* .horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  transition: transform ease-in-out;
  padding: 2vw;
} */

.vorstand-img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1vw;
}

.vorstand-img-block img {
  display: block;
  height: 400px;
  width: auto;
  max-width: 420px;
  object-fit: cover;
  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  filter: grayscale(100%);
}

.vorstand-img-block img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 5%;
  filter: grayscale(0%);
}

.vorstand-hover-info-text {
  text-align: center;
  font-size: 2.1em;
  margin-top: 2.5em;
  display: none;
}

.vorstand-hover-info-text strong {
  display: block;
  margin-bottom: 0.3em;
}
/* .carousel {
    width: 50%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex; 
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker {
    content: '';
    height: 1em;
    width: 1em;
    background-color: rgb(166, 53, 160);
    border-radius: 50%;
}

.card::scroll-marker:target-current {
    background-color: violet;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: '→'; 
    border: none;
    background-color: black;
    font-family: Consolas;
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-bottom: .1rem;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carousel::scroll-button(left) {
    content: '←';
    position-area: left center;
    translate: 50%;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    height: 18em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

@media(max-width: 500px) {
    .card {
        flex: 0 0 100%;
    }
} */

h1 {
  text-align: center;
  margin: 2rem 0;
  margin-top: 80px;
  font-size: 48px;
}

.gallery {
  width: 100vw;
  overflow: hidden;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  transition: transform ease-in-out;
  padding: 8vw;
}

.horizontal > img {
  width: auto;
  height: 400px;
  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  filter: grayscale(100%);
}

.horizontal > img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 5%;
  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  filter: grayscale(0%);
}

.horizontal > img + img {
  margin-left: 1vw;
}

.img-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 1vw;
}

